html{
    padding-top: 50px;
}


body {
    background-color: #a9a9a9;
    padding: 32px;
    font-size: 16px;
    text-align: center;
    
}

h1 {
    background-color: #a9a9a9;
    font-size: 43.2px;
    text-align: center;
}

.navbar {
	margin:0 !important;
	padding-left: 50px !important;
    padding-right: 100px;
}

